@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
  font-family: "Inter", sans-serif;
}

.reset-pw-outer {
  width: 100vw;
  height: calc(100vh - 172px);
  background-color: #dfdfdf;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  overflow: auto;
}

.reset-pw-form {
  width: 80%;
  max-width: 380px;
  min-width: 350px;
  height: 90%;
  max-height: 380px;
  min-height: 340px;
  border-radius: 20px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.rpw-logo-outer {
  width: 100%;
  height: 90%;
  max-height: 90px;
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    width: 82px;
    height: 82px;
    object-fit: contain;
  }
}

.rpw-text-outer {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 150%;

}

.rpw-email-text {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  width: 100%;
  height: 15px;
  font-size: 12px;
  color: #14181E;
}

.rpw-text-field-outer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  gap: 10px;
  margin-top: 10px;
  margin-bottom: 20px;

  input {
    width: 270px;
    height: 30px;
    border: 2px solid #14181E;
    border-radius: 10px;
    padding-left: 10px;
    color: #AFAFAF;

    &::placeholder {
      color: #AFAFAF;
    }

    &:focus {
      outline: none;
    }
  }
}

.rpw-button {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 40px;

  button {
    width: 280px;
    height: 30px;
    border: 1px solid #14181E;
    border-radius: 5px;
    color: white;
    background-color: #14181E;

    &:hover {
      border: 1px solid #324D71;
      background-color: #324D71;

    }
  }
}





