<div class="reset-pw-outer">
  <div class="reset-pw-form">
    <div class="rpw-logo-outer">
      <img src="assets/amazon.png" alt="amazon icon"/>
    </div>
    <div class="rpw-text-outer">
      Change Password
    </div>
    <div class="rpw-email-text">
      <p>shanuka32&#64;gmail.com</p>
    </div>
    <div class="rpw-text-field-outer">
      <input type="password" id="password" name="password" placeholder="New Password">
      <input type="password" id="re-write-password" name="re-write-password" placeholder="Re-write Password">
    </div>
    <div class="rpw-button">
      <button>Change Password</button>
    </div>

  </div>
</div>
