<div class="forgot-pw-outer">
  <div class="forgot-pw-form">
    <div class="fpw-logo-outer">
      <img src="assets/amazon.png" alt="amazon icon"/>
    </div>
    <div class="fpw-text-outer">
      Forgot Password?
    </div>
    <div class="fpw-text-field-outer">
      <input type="email" id="username" name="username" placeholder="Email Address">
    </div>
    <div class="fpw-button">
      <button>Send Reset Link</button>
    </div>
    <div class="fpw-bottom-text">
      <a routerLink="../login">Login</a>
    </div>

  </div>
</div>
