.header-outer {
  width: 100%;
  height: 72px;
  background-color: #131921;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-end;

  img {
    width: 110px;
    height: 40px;
    margin-left: 20px;
    margin-bottom: 5px;
    object-fit: contain;
  }

}
