<div class="otp-outer">
  <div class="otp-form">
    <div class="otpf-logo-outer">
      <img src="assets/amazon.png" alt="amazon icon"/>
    </div>
    <div class="otpf-text-outer">
      Verify OTP
    </div>
    <div class="otpf-text-field-outer">
      <input type="text" id="otp" name="otp" placeholder="OTP">
    </div>
    <div class="otpf-countdown">
      <p>Retry 30s</p>
    </div>
    <div class="otpf-button">
      <button>Submit OTP</button>
    </div>
    <div class="otpf-bottom-text">
      <a routerLink="../otp-verification">Resend OTP</a>
    </div>

  </div>
</div>
